.mybox {
  min-height:100%;
  position:relative;
}
.bottom-box {
  position:absolute;
  bottom:0;
  right:0;
  text-align:right;
  padding:20px;
  min-width:60%;
}

.info-classes-table {
  width:100%;
  min-height: 100px;
  border-collapse: collapse;
  td,th {
    border: 1px solid #e7f2ff;
    text-align:center;
  }
  th {
    background-color: #e7f2ff;
  }
}
