.lftBar {
	height:700px;
	.classIconBox {
		text-align: center;
		padding-top:40px;
		img {
			width:120px;
			height:120px;
		}
	}
	.formBox {
		padding-right:20px;
		padding-top:60px;
		label {
			color:#fff;
		}
	}
}