@blue:#2187FF;
@darkBlue:#243250;
@green:#00c9b9;
@yellow:#ffb121;
@red:#ff0020;
@orange:#f60;
.ant-layout-header {
	padding:0;
}
.ant-modal-header {
	background-color: @green;
	.ant-modal-title {
		color:#fff;
	}
}
.ant-modal-close-x {
	color:#fff;
}

.ant-table-tbody > tr:nth-child(even) > td {
	background-color:#F9FCFF;
}

.ant-menu-item, .ant-menu-submenu-title {
	// padding:0 16px!important;
}