.price-tip {
	height:100%;
	dl {
		height:100%;
		background: #FFF6E5;
		padding-bottom:16px;
		dt {
			height:60px;
			line-height:60px;
			text-align: center;
			font-size:16px;
			font-weight:bold;
			background: #FFDC99;
			margin-bottom:16px;
		}
		dd {
			padding:6px 20px;
			font-size:14px;
			span {
				display: inline-block;
				box-sizing: border-box;

				overflow:hidden;
				wrapper:nowrap;
			}
			span:nth-child(1){
				width: 55%;
			}
			span:nth-child(2){
                width: 45%;
            }
			span.label {
				padding-right:16px;
				i.operator {
					display:inline-block;
					width:12px;
				}
			}
		}
	}
}

.discounts-tag {
	height:36px;
	margin:0 8px 8px 0;
}

.my-goods {
	li {
		margin-bottom:12px;
	}
}

.myClassName {
	display:inline-block;
	width:200px;
	border:1px solid #d9d9d9;
	background:#f3f3f8;
	height:36px;
	line-height:36px;
	border-radius: 4px;
	padding:0 8px;
}